*.sublime*
.DS_Store
.idea

# Because this really is a working directory, ignore Vagrant's files
/.vagrant

# Log files
/log/*.log
/*.log

# This is a file intended for hooking into the Vagrant configuration
/Customfile

# Allow for custom provisioning scripts that are not included with the repo
/scripts/custom/*
!/scripts/custom/.keep

# No need to share individual site configs with each other
/config/apache-config/sites/*.conf
/config/apache-config/httpd.conf

# Ignore anything in the 'custom' directory in config
/config/custom/*

# Ignore custom trigger scripts
/config/homebin/*_custom

# No need to share our mysql data with each other
/database/data/*

# No need to share our individual sites with each other
/www/*

# And no need to share individual SQL files with each other
*.sql
*.sql.gz

# Default site configs that should be included
!/config/apache-config/sites/default.conf

# Default SQL file that should be included
!/database/init.sql

# Provide our default host names in a dat file.
!/www/graft-hosts

# Web directories are important to share.
!/www/default/phpinfo/index.php
!/www/default/index.php
